In [277]:
import pandas as pd
import numpy as np

In [278]:
df=pd.read_csv("weatherAUS.csv")

In [279]:
df.head(10)

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,0.0,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,0.0,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,0.0,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,1.0,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,0.2,No
5,2008-12-06,Albury,14.6,29.7,0.2,NaN,NaN,WNW,56.0,W,...,23.0,1009.2,1005.4,NaN,NaN,20.6,28.9,No,0.0,No
6,2008-12-07,Albury,14.3,25.0,0.0,NaN,NaN,W,50.0,SW,...,19.0,1009.6,1008.2,1.0,NaN,18.1,24.6,No,0.0,No
7,2008-12-08,Albury,7.7,26.7,0.0,NaN,NaN,W,35.0,SSE,...,19.0,1013.4,1010.1,NaN,NaN,16.3,25.5,No,0.0,No
8,2008-12-09,Albury,9.7,31.9,0.0,NaN,NaN,NNW,80.0,SE,...,9.0,1008.9,1003.6,NaN,NaN,18.3,30.2,No,1.4,Yes
9,2008-12-10,Albury,13.1,30.1,1.4,NaN,NaN,W,28.0,S,...,27.0,1007.0,1005.7,NaN,NaN,20.1,28.2,Yes,0.0,No

In [280]:
df.dtypes

Date              object
Location          object
MinTemp          float64
MaxTemp          float64
Rainfall         float64
Evaporation      float64
Sunshine         float64
WindGustDir       object
WindGustSpeed    float64
WindDir9am        object
WindDir3pm        object
WindSpeed9am     float64
WindSpeed3pm     float64
Humidity9am      float64
Humidity3pm      float64
Pressure9am      float64
Pressure3pm      float64
Cloud9am         float64
Cloud3pm         float64
Temp9am          float64
Temp3pm          float64
RainToday         object
RISK_MM          float64
RainTomorrow      object
dtype: object

In [281]:
df.loc[df["RainTomorrow"]=="Yes","RainTomorrow"]=1

In [282]:
df.loc[df["RainTomorrow"]=="No","RainTomorrow"]=0

In [283]:
df.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,0.0,0
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,0.0,0
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,0.0,0
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,1.0,0
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,0.2,0

In [284]:
ds=df.groupby('Location')

In [285]:
datapts=[x[1] for x in ds]

In [286]:
datapts[0]

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
93856,2008-07-01,Adelaide,8.8,15.7,5.0,1.6,2.6,NW,48.0,SW,...,67.0,1017.4,1017.7,NaN,NaN,13.5,14.9,Yes,0.8,0
93857,2008-07-02,Adelaide,12.7,15.8,0.8,1.4,7.8,SW,35.0,SSW,...,52.0,1022.4,1022.6,NaN,NaN,13.7,15.5,No,0.0,0
93858,2008-07-03,Adelaide,6.2,15.1,0.0,1.8,2.1,W,20.0,NNE,...,56.0,1027.8,1026.5,NaN,NaN,9.3,13.9,No,0.0,0
93859,2008-07-04,Adelaide,5.3,15.9,0.0,1.4,8.0,NNE,30.0,NNE,...,46.0,1028.7,1025.6,NaN,NaN,10.2,15.3,No,0.0,0
93860,2008-07-06,Adelaide,11.3,15.7,NaN,NaN,1.5,NNW,52.0,NNE,...,62.0,1019.5,1016.2,NaN,NaN,13.0,14.4,NaN,16.2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96941,2017-06-20,Adelaide,4.9,19.1,0.0,NaN,NaN,N,19.0,NE,...,37.0,1028.4,1026.5,NaN,NaN,10.4,18.4,No,0.0,0
96942,2017-06-21,Adelaide,4.5,19.2,0.0,NaN,NaN,WSW,17.0,NaN,...,52.0,1029.5,1026.9,NaN,NaN,10.0,17.8,No,0.0,0
96943,2017-06-22,Adelaide,4.6,19.5,0.0,NaN,NaN,N,22.0,NaN,...,29.0,1026.9,1022.3,NaN,NaN,9.6,18.9,No,0.0,0
96944,2017-06-23,Adelaide,5.4,18.5,0.0,NaN,NaN,NNW,19.0,ENE,...,44.0,1020.0,1017.7,NaN,NaN,11.7,17.1,No,0.0,0
96945,2017-06-24,Adelaide,5.0,17.3,0.0,NaN,NaN,W,17.0,NaN,...,54.0,1020.7,1018.5,NaN,NaN,9.6,16.7,No,0.0,0

In [287]:
new_data=[]
for doc in datapts:
    new=[]
    raint=list(doc["RainTomorrow"].values)
    new_doc=doc[0:len(doc)-4]
    print(len(new_doc))
    for y in range(5):
        new=[]
        for x in range(len(raint)-y):
            if sum(raint[x:x+y+1])>0:
                new.append(1)
            else:
                new.append(0)
        new_doc.loc[:,"rain_"+str(y+1)+"_days"]=new[0:len(new)-(4-y)]
    new_data.append(new_doc)

3086
3012
3007
3027
2924
3024
3030
3157
2984
3414
2984

/Users/jkachhadia/Documents/makeharvard/env/lib/python3.7/site-packages/pandas/core/indexing.py:844: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
/Users/jkachhadia/Documents/makeharvard/env/lib/python3.7/site-packages/pandas/core/indexing.py:964: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

2949
2939
3188
2976
3184
1555
3024
2431
3005
3003
2850
3026
2903
2951
1565
2925
2960
2998
2758
2960
3189
3005
2992
2947
2996
2951
3333
3001
3029
2994
1517
2972
2815
2995
2549
2948
2979
2986

In [288]:
new_data[0].tail()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow,rain_1_days,rain_2_days,rain_3_days,rain_4_days,rain_5_days
96937,2017-06-16,Adelaide,9.8,14.8,0.2,NaN,NaN,ENE,13.0,NE,...,11.8,14.6,No,1.4,1,1,1,1,1,1
96938,2017-06-17,Adelaide,6.0,16.8,1.4,NaN,NaN,WSW,15.0,NaN,...,9.3,16.4,Yes,0.2,0,0,0,0,0,0
96939,2017-06-18,Adelaide,8.0,16.9,0.2,NaN,NaN,WSW,13.0,NaN,...,10.0,16.2,No,0.0,0,0,0,0,0,0
96940,2017-06-19,Adelaide,5.2,19.4,0.0,NaN,NaN,NE,24.0,NaN,...,10.0,18.9,No,0.0,0,0,0,0,0,0
96941,2017-06-20,Adelaide,4.9,19.1,0.0,NaN,NaN,N,19.0,NE,...,10.4,18.4,No,0.0,0,0,0,0,0,0

In [289]:
datapts[0].tail()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
96941,2017-06-20,Adelaide,4.9,19.1,0.0,NaN,NaN,N,19.0,NE,...,37.0,1028.4,1026.5,NaN,NaN,10.4,18.4,No,0.0,0
96942,2017-06-21,Adelaide,4.5,19.2,0.0,NaN,NaN,WSW,17.0,NaN,...,52.0,1029.5,1026.9,NaN,NaN,10.0,17.8,No,0.0,0
96943,2017-06-22,Adelaide,4.6,19.5,0.0,NaN,NaN,N,22.0,NaN,...,29.0,1026.9,1022.3,NaN,NaN,9.6,18.9,No,0.0,0
96944,2017-06-23,Adelaide,5.4,18.5,0.0,NaN,NaN,NNW,19.0,ENE,...,44.0,1020.0,1017.7,NaN,NaN,11.7,17.1,No,0.0,0
96945,2017-06-24,Adelaide,5.0,17.3,0.0,NaN,NaN,W,17.0,NaN,...,54.0,1020.7,1018.5,NaN,NaN,9.6,16.7,No,0.0,0

In [290]:
len(new_data)

49

In [291]:
new_df=new_data[0]

In [292]:
for x in new_data[1:]:
    new_df=new_df.append(x)

In [293]:
len(new_df)

141997

In [294]:
new_df

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow,rain_1_days,rain_2_days,rain_3_days,rain_4_days,rain_5_days
93856,2008-07-01,Adelaide,8.8,15.7,5.0,1.6,2.6,NW,48.0,SW,...,13.5,14.9,Yes,0.8,0,0,0,0,0,1
93857,2008-07-02,Adelaide,12.7,15.8,0.8,1.4,7.8,SW,35.0,SSW,...,13.7,15.5,No,0.0,0,0,0,0,1,1
93858,2008-07-03,Adelaide,6.2,15.1,0.0,1.8,2.1,W,20.0,NNE,...,9.3,13.9,No,0.0,0,0,0,1,1,1
93859,2008-07-04,Adelaide,5.3,15.9,0.0,1.4,8.0,NNE,30.0,NNE,...,10.2,15.3,No,0.0,0,0,1,1,1,1
93860,2008-07-06,Adelaide,11.3,15.7,NaN,NaN,1.5,NNW,52.0,NNE,...,13.0,14.4,NaN,16.2,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105959,2017-06-16,Woomera,11.6,18.9,0.2,NaN,NaN,SSE,24.0,SE,...,14.0,18.1,No,0.0,0,0,0,0,0,0
105960,2017-06-17,Woomera,9.0,19.4,0.0,4.8,NaN,SSW,33.0,SSW,...,12.1,18.6,No,0.0,0,0,0,0,0,0
105961,2017-06-18,Woomera,8.3,19.0,0.0,2.2,NaN,SE,28.0,SE,...,9.1,18.7,No,0.0,0,0,0,0,0,0
105962,2017-06-19,Woomera,5.5,19.5,0.0,4.0,NaN,SE,28.0,ESE,...,10.2,19.3,No,0.0,0,0,0,0,0,0
105963,2017-06-20,Woomera,5.6,19.7,0.0,2.2,0.0,N,20.0,E,...,11.1,19.2,No,0.0,0,0,0,0,0,0

In [295]:
new_df.to_csv("forecast.csv")

In [296]:
new_df["rain_5_days"].describe()

count    141997.000000
mean          0.580104
std           0.493543
min           0.000000
25%           0.000000
50%           1.000000
75%           1.000000
max           1.000000
Name: rain_5_days, dtype: float64

In [297]:
new_df.columns

Index(['Date', 'Location', 'MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation',
       'Sunshine', 'WindGustDir', 'WindGustSpeed', 'WindDir9am', 'WindDir3pm',
       'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am', 'Humidity3pm',
       'Pressure9am', 'Pressure3pm', 'Cloud9am', 'Cloud3pm', 'Temp9am',
       'Temp3pm', 'RainToday', 'RISK_MM', 'RainTomorrow', 'rain_1_days',
       'rain_2_days', 'rain_3_days', 'rain_4_days', 'rain_5_days'],
      dtype='object')

In [298]:
X=new_df.copy()

In [299]:
# del X["Date"]
# del X["Location"]
# del X["RainTomorrow"]
len(X)

141997

In [300]:
# del X["WindGustDir"],X["WindDir9am"],X["WindDir3pm"],

In [301]:
X.loc[X["RainToday"]=="Yes","RainToday"]=1
X.loc[X["RainToday"]=="No","RainToday"]=0

In [302]:
X=X[['MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation',
       'Sunshine', 'WindGustSpeed',
       'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am', 'Humidity3pm',
       'Pressure9am', 'Pressure3pm', 'Cloud9am', 'Cloud3pm', 'Temp9am',
       'Temp3pm', 'RainToday', 'RISK_MM',"rain_2_days"]]

In [303]:
X.columns

Index(['MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation', 'Sunshine',
       'WindGustSpeed', 'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am',
       'Humidity3pm', 'Pressure9am', 'Pressure3pm', 'Cloud9am', 'Cloud3pm',
       'Temp9am', 'Temp3pm', 'RainToday', 'RISK_MM', 'rain_2_days'],
      dtype='object')

In [304]:
X=X.dropna()
y=X["rain_2_days"]
del X["rain_2_days"]

In [305]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
import time
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
t0=time.time()
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.25)
clf_rf = RandomForestClassifier(n_estimators=100, max_depth=10,random_state=0)
clf_rf.fit(X_train,y_train)
y_pred = clf_rf.predict(X_test)
score = accuracy_score(y_test,y_pred)
print('Accuracy :',score)
print('Time taken :' , time.time()-t0)

Accuracy : 0.8768001102459864
Time taken : 3.599414110183716

In [306]:
from sklearn.linear_model import LogisticRegression
t0=time.time()
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2)
clf_logreg = LogisticRegression(random_state=0)
clf_logreg.fit(X_train,y_train)
y_pred = clf_logreg.predict(X_test)
score = accuracy_score(y_test,y_pred)
print('Accuracy :',score)
print('Time taken :' , time.time()-t0)

Accuracy : 0.8649440137812231
Time taken : 0.38877415657043457

/Users/jkachhadia/Documents/makeharvard/env/lib/python3.7/site-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [307]:
import pickle

In [308]:
for x in range(1,6):
    X=new_df.copy()
    X.loc[X["RainToday"]=="Yes","RainToday"]=1
    X.loc[X["RainToday"]=="No","RainToday"]=0
    X=X[['MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation',
           'Sunshine', 'WindGustSpeed',
           'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am', 'Humidity3pm',
           'Pressure9am', 'Pressure3pm', 'Cloud9am', 'Cloud3pm', 'Temp9am',
           'Temp3pm', 'RainToday', 'RISK_MM',"rain_"+str(x)+"_days"]]
    X=X.dropna()
    y=X["rain_"+str(x)+"_days"]
    del X["rain_"+str(x)+"_days"]
    print(X.columns)
    t0=time.time()
    X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.25)
    clf_rf = RandomForestClassifier(n_estimators=100, max_depth=10,random_state=0)
    clf_rf.fit(X_train,y_train)
    y_pred = clf_rf.predict(X_test)
    print(x)
    score = accuracy_score(y_test,y_pred)
    print('Accuracy :',score)
    print('Time taken :' , time.time()-t0)
    clf_rf.fit(X,y)
    filename="model_"+str(x)
    pickle.dump(clf_rf, open(filename, 'wb'))

Index(['MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation', 'Sunshine',
       'WindGustSpeed', 'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am',
       'Humidity3pm', 'Pressure9am', 'Pressure3pm', 'Cloud9am', 'Cloud3pm',
       'Temp9am', 'Temp3pm', 'RainToday', 'RISK_MM'],
      dtype='object')
1
Accuracy : 1.0
Time taken : 2.046363115310669
Index(['MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation', 'Sunshine',
       'WindGustSpeed', 'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am',
       'Humidity3pm', 'Pressure9am', 'Pressure3pm', 'Cloud9am', 'Cloud3pm',
       'Temp9am', 'Temp3pm', 'RainToday', 'RISK_MM'],
      dtype='object')
2
Accuracy : 0.8798318748708055
Time taken : 3.7788617610931396
Index(['MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation', 'Sunshine',
       'WindGustSpeed', 'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am',
       'Humidity3pm', 'Pressure9am', 'Pressure3pm', 'Cloud9am', 'Cloud3pm',
       'Temp9am', 'Temp3pm', 'RainToday', 'RISK_MM'],
      dtype='object')
3
Accuracy : 0.7954247915661821
Time taken : 3.900067090988159
Index(['MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation', 'Sunshine',
       'WindGustSpeed', 'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am',
       'Humidity3pm', 'Pressure9am', 'Pressure3pm', 'Cloud9am', 'Cloud3pm',
       'Temp9am', 'Temp3pm', 'RainToday', 'RISK_MM'],
      dtype='object')
4
Accuracy : 0.7343071728794873
Time taken : 3.8016750812530518
Index(['MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation', 'Sunshine',
       'WindGustSpeed', 'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am',
       'Humidity3pm', 'Pressure9am', 'Pressure3pm', 'Cloud9am', 'Cloud3pm',
       'Temp9am', 'Temp3pm', 'RainToday', 'RISK_MM'],
      dtype='object')
5
Accuracy : 0.7139116654034314
Time taken : 3.5437328815460205

In [351]:
import xgboost as xgb
from sklearn import metrics
accs=[]
for x in range(1,6):
    X=new_df.copy()
    X.loc[X["RainToday"]=="Yes","RainToday"]=1
    X.loc[X["RainToday"]=="No","RainToday"]=0
    X["RainToday"]=X["RainToday"].astype("float")
#     X=X[['MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation','Sunshine', 'WindGustSpeed',
#            'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am', 'Humidity3pm',
#            'Pressure9am', 'Pressure3pm', 'Cloud9am', 'Cloud3pm', 'Temp9am',
#            'Temp3pm', 'RainToday', 'RISK_MM',"rain_"+str(x)+"_days"]]
    X=X[['Sunshine', 'Humidity9am', 'Humidity3pm','Rainfall',
           'Pressure9am', 'Pressure3pm', 'Cloud9am', 'Cloud3pm', 'Temp9am',
           'Temp3pm',"rain_"+str(x)+"_days"]]
    X=X.dropna()
    y=X["rain_"+str(x)+"_days"]
    del X["rain_"+str(x)+"_days"]
    print(X.columns)
    t0=time.time()
#     X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.25)
#     clf_rf = RandomForestClassifier(n_estimators=100, max_depth=10,random_state=0)
#     clf_rf.fit(X_train,y_train)
#     y_pred = clf_rf.predict(X_test)
#     print('Using following features: \n%s' %df_onehotted.drop(['RainTomorrow_Yes'],axis=1).columns)
    acc_list, b_acc_list, f1_list = [[] for i in range (3)]
    round = 1 # set number of rounds
    print('Running %s rounds. Showing accuracy, balanced accuracy and f1 score...' % round)
    for i in range (round):
        X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2)
        xg = xgb.XGBClassifier(
        objective ='binary:hinge', subsample = 0.9, learning_rate = 0.1,
                max_depth = 8, n_estimators = 300, reg_lambda = 0, reg_alpha = 2).fit(X_train,y_train)
        y_test_predicted = xg.predict(X_test)
        print(i+1,metrics.accuracy_score(y_test,y_test_predicted),metrics.balanced_accuracy_score(y_test,y_test_predicted),metrics.f1_score(y_test,y_test_predicted))
        acc_list.append(metrics.accuracy_score(y_test,y_test_predicted))
        b_acc_list.append(metrics.balanced_accuracy_score(y_test,y_test_predicted))
        f1_list.append(metrics.f1_score(y_test,y_test_predicted))
        print(metrics.confusion_matrix(y_test,y_test_predicted))
        print('australia rainfall dataset: after %s rounds...' % round)
        print('average accuracy:',sum(acc_list)/len(acc_list),'\naverage balanced accuracy:',sum(b_acc_list)/len(b_acc_list),'\naverage f1 score:',sum(f1_list)/len(f1_list))
        accs.append(sum(acc_list)/len(acc_list))
        clf_rf.fit(X,y)
        filename="xgbmodel_"+str(x)
#         pickle.dump(clf_rf, open(filename, 'wb'))
#     print(x)
#     score = accuracy_score(y_test,y_pred)
#     print('Accuracy :',score)
#     print('Time taken :' , time.time()-t0)

Index(['Sunshine', 'Humidity9am', 'Humidity3pm', 'Rainfall', 'Pressure9am',
       'Pressure3pm', 'Cloud9am', 'Cloud3pm', 'Temp9am', 'Temp3pm'],
      dtype='object')
Running 1 rounds. Showing accuracy, balanced accuracy and f1 score...
1 0.8537348455220962 0.737867769916474 0.6141147338010731
[[9427  560]
 [1310 1488]]
australia rainfall dataset: after 1 rounds...
average accuracy: 0.8537348455220962
average balanced accuracy: 0.737867769916474
average f1 score: 0.6141147338010731
Index(['Sunshine', 'Humidity9am', 'Humidity3pm', 'Rainfall', 'Pressure9am',
       'Pressure3pm', 'Cloud9am', 'Cloud3pm', 'Temp9am', 'Temp3pm'],
      dtype='object')
Running 1 rounds. Showing accuracy, balanced accuracy and f1 score...
1 0.7727806022682832 0.7243751100013631 0.6338081431992942
[[7366  972]
 [1933 2514]]
australia rainfall dataset: after 1 rounds...
average accuracy: 0.7727806022682832
average balanced accuracy: 0.7243751100013631
average f1 score: 0.6338081431992942
Index(['Sunshine', 'Humidity9am', 'Humidity3pm', 'Rainfall', 'Pressure9am',
       'Pressure3pm', 'Cloud9am', 'Cloud3pm', 'Temp9am', 'Temp3pm'],
      dtype='object')
Running 1 rounds. Showing accuracy, balanced accuracy and f1 score...
1 0.72225263981228 0.7130568012036045 0.6685335573602166
[[5653 1493]
 [2058 3581]]
australia rainfall dataset: after 1 rounds...
average accuracy: 0.72225263981228
average balanced accuracy: 0.7130568012036045
average f1 score: 0.6685335573602166
Index(['Sunshine', 'Humidity9am', 'Humidity3pm', 'Rainfall', 'Pressure9am',
       'Pressure3pm', 'Cloud9am', 'Cloud3pm', 'Temp9am', 'Temp3pm'],
      dtype='object')
Running 1 rounds. Showing accuracy, balanced accuracy and f1 score...
1 0.7021509581540868 0.7017467048500202 0.7130801687763714
[[4245 2055]
 [1753 4732]]
australia rainfall dataset: after 1 rounds...
average accuracy: 0.7021509581540868
average balanced accuracy: 0.7017467048500202
average f1 score: 0.7130801687763714
Index(['Sunshine', 'Humidity9am', 'Humidity3pm', 'Rainfall', 'Pressure9am',
       'Pressure3pm', 'Cloud9am', 'Cloud3pm', 'Temp9am', 'Temp3pm'],
      dtype='object')
Running 1 rounds. Showing accuracy, balanced accuracy and f1 score...
1 0.6894016425498631 0.6696207856676808 0.7481448595167122
[[2916 2543]
 [1428 5898]]
australia rainfall dataset: after 1 rounds...
average accuracy: 0.6894016425498631
average balanced accuracy: 0.6696207856676808
average f1 score: 0.7481448595167122

In [350]:
l=0
t=15
for x in range(0,5):
    l=l+accs[x]*((5-x)/15)
print(l)

0.7706352304369323

In [347]:
accs

[0.8493246935748302,
 0.7690686236240144,
 0.7184791943164962,
 0.6934967600905613,
 0.6941993910531657]

In [310]:
X.dtypes

MinTemp          float64
MaxTemp          float64
Rainfall         float64
Evaporation      float64
Sunshine         float64
WindGustSpeed    float64
WindSpeed9am     float64
WindSpeed3pm     float64
Humidity9am      float64
Humidity3pm      float64
Pressure9am      float64
Pressure3pm      float64
Cloud9am         float64
Cloud3pm         float64
Temp9am          float64
Temp3pm          float64
RainToday         object
RISK_MM          float64
dtype: object

In [321]:
X=new_df.copy()

0.28913562538016685